@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    
    background-color: #eee;
    border-color: #eee;
    color: black;
    font-family: Source Sans Pro;
    text-align: center;
    
}

header {
    font-family: Abril Fatface;
}

.newspaper-container {
    background-color: white;
    box-shadow: #ddd;
    box-shadow: inset;
    font-family: Roboto Slab;
    width: 700px;
    margin: auto;
    padding: 12px;
    text-align: left;
    border-radius: 1%;
    

}

p {
    color: darkgray;
}

nav {
    border-color: #ddd;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    font-size: 13px;
    
    
}
li {
    display: inline-block;
    padding: 5px;
    
    
}

li a {
    text-decoration: none;
    color: lightgrey;
    
}
ul {
    list-style-type: none;
    
}